@font-face {
        font-family: "MyWebFontRegular", sans-serif;
        src: url("fonts/OpenSans-Regular.ttf") format("truetype"),
              url("fonts/OpenSans-Regular.woff") format("woff"),
              url("fonts/OpenSans-Regular.woff2") format("woff2");
      }

@font-face {
        font-family: "MyWebFontBold", sans-serif;
        src: url("fonts/OpenSans-Bold.ttf") format("truetype"),
              url("fonts/OpenSans-Bold.woff") format("woff"),
              url("fonts/OpenSans-Bold.woff2") format("woff2");
      }
* {
        margin: 0;
        padding: 0;
}

html {
        font-size: 62.5%;
        font-family: "MyWebFontRegular";
      }

.body {
        background-color: #ffffff;
      }

.main-header {
        height: 100vh;
        width: 100vw;
        text-align: center;
        background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/football_767.jpg");
        background-size: cover;
        background-repeat: no-repeat;

        position: relative;
        z-index: 1;
      }

.main-header::after {
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #371a5d;
        opacity: 0.8; 
        position: absolute; 
        z-index: 2;  
} 

.main-header-content {
        padding-top: 3.8rem;
        padding-bottom: 8.2rem;
        margin-left: auto;
        margin-right: auto;
        z-index: 3;
}

.main-header-logo {
        margin-bottom: 14.6rem;
}

.surface-logo-320 {
        width: 146px;
        height: 42px;
        fill: #ffffff;
}

.main-header-label {
        margin-bottom: 8.2rem;
        margin-top: 12.1rem;
}

.main-heading {
        box-sizing: border-box;
        text-align: left;
        margin-left: 2rem;
        text-transform: uppercase;
        color: #ffffff;
        font-family: "MyWebFontBold";
        font-size: 2.8rem;
        line-height: 3.1rem;
        width: 100%;
}

.second-heading {
        display: block;
        text-align: left;
        margin-left: 4.5rem;
        margin-top: 2.5rem;
} 
.btn-container {
    width: 28rem;   
    margin: auto;  
}

.btn-appstore:link, .btn-googleplay:link,
.btn-appstore:visited, .btn-googleplay:visited {
        display: flex;
        justify-content: center;
        align-items: center; 
        font-size: 0.8rem;
        font-weight: 400;
        height: 3.5rem;
        text-transform: uppercase;
        color: #ffffff;
        background-color: #5e42b0;
        text-decoration: none;
        border-radius: 100px;
        margin-bottom: 1.4rem;
           
}

.btn-app {
        display: block;
        font-weight: 700;
}

.apple-icon, .google-icon {
        width: 23px;
        height: 23px;
        color: #ffffff;
        margin-right: 1.2rem;
}
